:root {
	--main-color: #10c9b7;
	--shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	--color-two: #2c4755;
	--color-three: #fafafa;
	--main-padding: 40px 0;
}
/* Components */
.main-heading {
	text-align: center;
	margin-bottom: 80px;
}
.main-heading h2 {
	color: #ebecee;
	font-size: 110px;
	font-weight: 800;
}
.main-heading p {
	font-size: 18px;
}
.container {
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
}
.page-holder.active {
	height: 100vh;
	filter: blur(10px);
	overflow: hidden;
	cursor: not-allowed;
	user-select: none;
}
.wrapper {
	position: relative;
	overflow-x: hidden;
}
@media (max-width: 768px) {
	.main-heading h2 {
		font-size: 60px;
	}
	.main-heading p {
		font-size: 11px;
	}
}
/* End Components */
/* Global Rules */
* {
	box-sizing: border-box;
	margin: 0;
	font-family: "Work Sans", sans-serif;
}
html {
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
p {
	font-size: 12px;
	line-height: 1.6em;
	color: #777;
}
h1,
h2,
h3,
h4 {
	font-weight: 800;
}
span {
	display: inline-block;
}
@media (min-width: 768px) {
	.container {
		max-width: 740px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
/* End Global Rules */
/* Menu */
.menu {
	position: absolute;
	background-color: var(--color-two);
	width: 300px;
	right: -300px;
	z-index: 2;
	padding: 35px;
	color: white;
	height: 100%;
	transition: .5s;
}
.menu .close {
	cursor: pointer;
	display: block;
	margin-bottom: 20px;
}
.menu .button:hover {
	color: var(--main-color);
}
.menu span {
	font-size: 0.8em;
	color: #777;
	display: block;
	margin-bottom: 5px;
}
.menu ul .main a:first-of-type {
	color: var(--main-color);
}
.menu ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 30px;
}
.menu ul li {
	font-size: 1.3em;
	line-height: 1.4em;
	transition: .4s;
}
.menu ul li a {
	color: white;
}
.menu ul li a:hover {
	color: var(--main-color);
}
/* End Menu */
/* Navbar */
nav {
	height: 65px;
	width: 100%;
	top: 0;
	background-color: white;
	position: fixed;
	z-index: 1000;
}
nav .container img {
	width: 55px;
}
nav .container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav .container .icon {
	cursor: pointer;
	width: 18px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
nav .container .icon span {
	background-color: #222;
	margin-bottom: 4px;
	height: 1px;
}
nav .container .icon span:not(:nth-child(2)) {
	width: 100%;
}
nav .container .icon span:nth-child(2) {
	width: 60%;
	transition: 0.3s;
}
nav .container .icon:hover span:nth-child(2) {
	width: 100%;
}
/* End Navbar */
/* Header */
header {
	background-image: url(../imgs/header/background.jpg);
	background-size: cover;
	height: 300px;
	margin-top: 65px;
}
header .container {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}
header .text {
	all: inherit;
	text-align: center;
	width: 300px;
	line-height: 1.8;
}
header h1 {
	color: var(--main-color);
	letter-spacing: -1px;
}
header p {
	font-size: 13px;
}
/* End Header */
/* Features */
.features {
	background-color: var(--color-three);
}
.features .container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	gap: 2px;
}
.features .container .feature {
	padding: 30px 15px 15px;
	height: 250px;
	text-align: center;
	transform: scale(0.9);
	transition: 0.3s;
	line-height: 3em;
}
.features .container .feature:hover {
	box-shadow: var(--shadow);
	transform: scale(1);
}
.features .container .feature i {
	color: var(--main-color);
	font-size: 55px;
}
.features .container .feature h3 {
	font-weight: 700;
}
/* End Features */
/* Services */
.services {
	padding: var(--main-padding) 100px;
}
.services .container .all-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.services .container .all-content .all-services {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	justify-content: space-between;
}
.services .container .all-content .all-services .service {
	position: relative;
	padding: 15px;
	margin: 0 0 20px 20px;
}
.services .container .all-content .all-services .service i {
	position: absolute;
	color: var(--main-color);
	font-size: 35px;
	display: inline-block;
	top: 0;
	left: 0;
}
.services .container .all-content .all-services .service .text {
	padding: 0 2px 0 40px;
}
.services .container .all-content .all-services .service .text h4 {
	margin: -15px 0 15px;
}
.services .container .all-content .image {
	display: none;
	right: 0;
	position: relative;
}
.services .container .all-content .image::before {
	content: "";
	position: absolute;
	background-color: var(--color-two);
	width: 75px;
	height: 370px;
	right: -35px;
	top: -48px;
	z-index: -1;
}
.services .container .all-content .image img {
	width: 250px;
	box-shadow: var(--shadow);
	height: 280px;
	object-fit: cover;
}
@media (min-width: 992px) {
	.services .container .all-content .image {
		display: inline-block;
	}
	.services .container .all-content .all-services {
		max-width: 600px;
	}
}
/* End Services */
/* Portfolio */
.portfolio {
	background-color: var(--color-three);
	padding: var(--main-padding);
}
.portfolio .container .all-content .all-port {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	gap: 20px;
	margin-bottom: 40px;
}
.portfolio .container .all-content .all-port .port {
	display: none;
}
.portfolio .container .all-content .all-port .port.active {
	display: inline-block;
}
.portfolio .container .all-content .all-port .port img {
	width: 100%;
	object-fit: cover;
	transition: .5s;
}
.portfolio .container .all-content .all-port .port img:hover {
	filter: grayscale(100%);
}
.portfolio .container .all-content .all-port .port .caption {
	width: 100%;
	padding: 15px;
	background-color: #fff;
}
.portfolio .container .all-content .all-port .port .caption h4 {
	margin-bottom: 10px;
}
.portfolio .container .all-content .all-port .port .caption p {
	margin: 0;
}
.portfolio .container .all-content button {
	cursor: pointer;
	border: 1px solid #000;
	margin: 0 auto 0;
	width: max-content;
	display: block;
	position: relative;
	color: var(--color-two);
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: 700;
	background-color: transparent;
	transition: 0.3s;
}
.portfolio .container .all-content button:hover {
	color: white;
	background-color: var(--color-two);
}
/* End Portfolio */
/* About */
.about {
	padding: var(--main-padding);
}
.about .container .all-content {
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
	flex-wrap: wrap;
}
.about .container .all-content .image {
	position: relative;
	width: 250px;
}
.about .container .all-content .image::before {
	content: "";
	position: absolute;
	background-color: var(--color-three);
	width: 80px;
	height: 350px;
	left: -20px;
	top: -40px;
	z-index: -1;
}
.about .container .all-content .image::after {
	content: "";
	position: absolute;
	border: 70px solid var(--main-color);
	border-top: none;
	border-right: none;
	right: -110px;
	height: 185px;
	width: 80px;
	top: -35px;
	z-index: -1;
}
.about .container .all-content .image img {
	width: 250px;
	box-shadow: var(--shadow);
	height: 273px;
	object-fit: cover;
}
.about .container .all-content .text {
	flex-basis: 415px;
}
.about .container .all-content .text p:first-child {
	font-weight: 700;
	font-size: 15px;
	margin-bottom: 15px;
}
.about .container .all-content .text hr {
	width: 50%;
	border-color: var(--main-color);
	margin-left: 0;
	background-color: var(--main-color);
	margin-bottom: 15px;
}
@media (max-width: 992px) {
	.about .container .all-content {
		display: flex;
		justify-content: center;
	}
	.about .container .all-content .text {
		width: 100%;
		top: 300px;
		text-align: center;
		flex-basis: initial;
	}
	.about .container .all-content .text hr {
		margin-right: auto;
		margin-left: auto;
	}
	.about .container .all-content .image::before,
	.about .container .all-content .image::after {
		display: none;
	}
	.about .container .all-content .image {
		margin-bottom: 25px;
	}
}
/* End About */
/* Contact */
.contact {
	padding: var(--main-padding);
	background-color: var(--color-three);
}
.contact .all-content {
	text-align: center;
}
.contact .all-content h2 {
	color: var(--color-two);
	font-size: 30px;
	margin-bottom: 15px;
}
.contact .all-content a {
	color: var(--main-color);
	font-weight: 800;
	font-size: 30px;
}
@media (max-width: 768px) {
	.contact .all-content a {
		font-size: 20px;
	}
}
/* End Contact */
/* Footer */
footer {
	background-color: var(--color-two);
	padding: 10px 30px;
	height: 60px;
}
footer .container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer .container p {
	color: white;
	font-weight: 700;
	margin-right: 5px;
	font-size: 13px;
}
footer .container p span a {
	color: var(--main-color);
}
/* End Footer */
